/** {
    cursor: url(umbrella_cursor.png),auto;
}*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(217, 228, 238, 0.781);
}
canvas {
    background-color: rgba(217, 228, 238, 0.781);
}

/*#fading-text {
    font-family: serif;
    font-size: 160px;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    text-align: center;
    padding-top: 0px;
    margin: 290px;
    stroke: black;
  }*/