body {
    margin: 0;
    overflow: hidden;
    background-color: #b7d1d1;
    cursor: url(../umbrella_cursor.png), auto;
}
.raindrop {
    position: absolute;
    color: #6699CC;
    font-size: 24px;
    user-select: none;
}