body {
    margin: 0;
    overflow: hidden;
    background-color: #b7d1d1;
    cursor: url('../image/umbrella_cursor.png'), auto;
}

.raindrop {
    position: absolute;
    color: #6699CC;
    font-size: 14px;
    user-select: none;
    pointer-events: none; /* これにより、雨の文字がカーソルの動作に影響しないようにする */
}
